       <!DOCTYPE html>
       <html>
         <head>
           <title>Wildlife Tracker</title>
           <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/transportation-soft/512/baby_love_animal_nature_large_drawing_zoo-512.png">
           <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
           <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
           <link rel='stylesheet' href="/App.css">
           <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
             <script src="/App.js"></script>
         </head>
         <body>
             #parse( $template )

         </body>
       </html>